<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Точки рассчета</title>
</head>
<body>

<div th:each="settlementPoint : ${settlementPoint}">
    <a th:href="@{/settlementPoint/{pointId}(pointId=${settlementPoint.getPointId()})}"
       th:text="${settlementPoint.getclientTin() + ', ' + settlementPoint.getclientName()}">Settlement Points</a>
</div>

<br/>
<hr/>

<a href="/api/point/add">Зарегистрировать новую точку рассчета</a>

</body>
</html>